<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
</head>

<section layout:fragment="conteudo">
<div class="card mt-2">
    <div class="card-header clearfix">
        <h3 class="float-left">Novo Titulo</h3>
        <a class="btn btn-link float-right" href="/titulos">Voltar para pesquisa</a>
    </div>

    <div class="card-body">
        <form method="post" action="/titulos" th:object="${titulo}">
            <input hidden th:field="*{codigo}">
           <div layout:insert="~{mensagemGeral}"></div>
           <div layout:insert="~{mensagemErro}"></div>

            <div class="form-group">
                <div class="form-group row">
                    <label for="descricao" class="col-sm-2 control-label">Descrição</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control form-control-sm" id="descricao" th:field="*{descricao}"
                               th:classappend="${#fields.hasErrors('descricao')} ? 'is-invalid'">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="dataVencimento" class="col-sm-2 control-label">Data de vencimento*</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control form-control-sm" id="dataVencimento" th:field="*{dataVencimento}"
                           th:classappend="${#fields.hasErrors('dataVencimento')} ? 'is-invalid'">
                </div>
            </div>
            <div class="form-group row">
                <label for="valor" class="col-sm-2 control-label">Valor</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control form-control-sm" id="valor" th:field="*{valor}"
                           th:classappend="${#fields.hasErrors('valor')} ? 'is-invalid'">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label">Status</label>
                <div class="col-sm-2">
                    <select class="form-control form-control-sm" name="status">
                        <option th:each="status : ${allStatus}"
                                th:value="${status}"
                                th:text="${status.getDescricao()}"></option>

                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="offset-sm-2">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
</section>
</html>
